*{
    box-sizing: border-box;
}
body{
    background-color:  hsl(212, 45%, 89%);
    font-family: serif;
    padding: 100px;

}
.container{
   width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius: 10px;
    margin-top: auto;
    margin-top: auto;
    pading:10px;
}
h1,p{
    text-align: center;
}
.image{
    align-items: center;
    padding-bottom: 10px;
    overflow: hidden;
    width:40%;
    
}
p{
    color: hsl(220, 15%, 55%);
    padding-bottom: 20px;
    
}
h1{
   padding-bottom: 10px;
    color: hsl(218, 44%, 22%);
}
